services:
  mysqldb:
    image: mysql:latest
    container_name: mysqldb
    env_file: .env
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      DB_HOST: ${DB_HOST}
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend
    env_file: .env
    environment:
      - DB_HOST=mysqldb
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    restart: always
    depends_on:
      - mysqldb
    command:
      bash -c "python wait_mysql.py && 
      python manage.py makemigrations &&
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000"

  crawler:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: crawler
    env_file: .env
    environment:
      - DB_HOST=mysqldb
    volumes:
      - ./:/app
    restart: always
    depends_on:
      - mysqldb
    command:
      bash -c "python wait_mysql.py && rm -rf /root/.wdm/drivers/chromedriver/linux64/ && python -u -m crawling.main"

volumes:
  db_data:
