services:
  mysqldb:
    image: mysql:latest
    container_name: mysqldb
#variables를 .env파일에서 불러오기
    env_file:
      - ./.env
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}

      # Database Settings (docker-compose.yml과 일치해야 함)
      #DB_NAME=본인 데베
      #DB_USER= 본인 유저
      #DB_ROOT_PASSWORD=본인 루트 비번
      #DB_PASSWORD=본인 유저 비번
      #DB_PORT=본인 포트
      #DB_HOST= 본인 호스트 이거 .env 파일에 작성하셔야 위에 이름에 들어감
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend
    env_file: 
      - ./backend.env
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    restart: always 
    depends_on:
      - mysqldb
    command:
      bash -c "python wait_mysql.py && 
      python manage.py makemigrations &&
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000"
volumes:
  db_data:

  #docker exec -it <컨테이너_이름> pip install djangorestframework-simplejwt <-VS Code 터미널에서 현재 실행 중인 도커 컨테이너 안에 명령어 치기